p.pad {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

p.short {
    padding: 50px 30px 50px 80px;
    border: 2px solid red;
}

div.example {
    padding: 25px;
    border: 2px solid red;
}
