table, th, td { /* tr, */
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

th {
    text-align: left;
}

table {
    border-spacing: 5px; /* border-collapse: unset; */
}

table#table01 {
    background-color: lightgray;
}

table#table01 th {
    background-color: gray;
}
